@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    /*----COULEURS----*/
    --gold: rgb(173, 172, 80);
    --fond0: #2e2e2e;
    --fond1: rgb(224, 216, 177);
    --fond2: #ffb62e;
    --noir: rgb(23,23,23);
    --gris: #3d3d3d;
    --colorsign: rgb(151, 151, 151);
    --btnactive: rgb(102, 102, 102);
    --ombre: #161616a4;
    --police1: 'Old Standard TT', serif;

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--fond0);
    display: flex;
    justify-content: center;
}
#limite {
    width: 1680px;
    height: 100vh;
    background-color: var(--fond2) ;
}
/*-----------------HEADER-------------------*/
#headeretendu {
    position: fixed;
    z-index: 3;
    top:0;
    width: 1680px;
}

header {
    position: fixed;
    z-index: 3;
    background-color: var(--noir);
    border: solid 3px #3d3d3d;
    width: 1680px;
    height: 70px;
}
#logo {
    position: absolute;
    top:0;
    left: 250px;
    text-align: center;
    background-color: var(--noir);
    border: solid 3px var(--gold);
    width: 150px;
    height: 110px;
}
#logo div {
    height: 100%;
    max-width: 100%;
    background-image: url(../assets/logotransp.png);
    background-size: cover;
   /* border: purple solid 1px;*/
}
#menu {
    color: var(--gold);
    /*border: dotted 2px red;*/
}
#menu ul {
    display: flex;
    justify-content: start;
    width: 800px;
    margin-left: 500px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#menu li {
    font-family: 'Old Standard TT', serif;
    color:white;
    font-size: 25px;
    /*border: dotted 2px yellow;*/
    list-style: none;;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}
#menu div {
    user-select: none;
    cursor: pointer;
}
#connex {
    position: absolute;
    top:5px;
    right:50px;
    border: var(--gris) 3px solid;
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px 0 5px;
}
#connex p {
    user-select: none;
    cursor: pointer;
}
#favconnex {
    color: white;
    background-image: url(../assets/favconnex.png);
    background-size: cover;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
#connex:hover {
    background-color: var(--gris);
}
#connex:active {
    background-color: var(--btnactive);
    color: black !important;
}
#connex p {
    color:white;
    font-family: 'Old Standard TT', serif;
    font-size: 25px;  
}
.rectangle {
    
    width: 0px;
    height: 2px;
    background-color: white;
    margin: auto;
    animation: slide 2s;
}

@keyframes slide {
    0%    { 
        width: 0; 
    }
    100%  { width: 100%; }
}

/*--------------------CONNEXION------------------*/
#connecbox {
    position: absolute;
    z-index: 0 !important;
    background-color: var(--noir);
    border: solid 3px var(--gris);
    width: 300px;
    height: 240px;
    top: -210px;
    left: 1350px;
    padding: 10px;
    transition: 1s;
}

#connecbox label {
    font-family: var(--police1);
    font-size: 25px;
    color:white;
    margin-bottom: 125px;
    user-select: none;   
}

#connecbox input {
    display: block;
    width: 270px;
    height: 35px;
    font-size: 20px;
}
#btn_conn {
    margin-top: 20px;
    border: solid 3px var(--gris);
    background-color: var(--noir);
    color:white;
    font-family: 'Old Standard TT', serif;
    font-size: 25px;  
    user-select: none;
    cursor:pointer;
}
#btn_conn:hover {
    background-color: var(--gris);
}
#btn_conn:active {
    background-color: var(--btnactive);
}   
.cache1 {
   /* position: fixed !important;*/
    top: 80px !important;
    /*transition: 1s !important;  */
}


/*---------------------SEC1------------------*/
#sec1 {
    width: 100%;
    height: 800px;
    background-image: url(../assets/devanture.jpg);
    background-position: center;
    display: flex;
    justify-content: center;
}
#ombre {
    background-color: var(--ombre);
    width: 530px;
    height: 420px;
    margin-top: 5%;
    border-radius: 300px 150px 300px 150px;
    box-shadow: 0px 0px 50px 55px var(--ombre);
}
#logo2 {
    width: 520px;
    height: 100%;
    background-image: url(../assets/logotransp.png);
    background-repeat: no-repeat;
}

/*------------------SEC2 ------------------*/
#sec2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: var(--fond2);
    display: flex;
    flex-direction: column;
}
#img_sec_2 {
    background-image: url(../assets/photorepas.png);
    width: 1000px;
    height: 300px;  
}

/*-------------------SEC3--------------------*/
#sec3 {
    height: 600px;
    width: 1680px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/section.png);
    background-size: cover;
}
#img_sec_3 {
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: space-between;
}
#barman {
    background-image: url(../assets/barman.jpg);
    background-size: cover;
    width: 400px;
}
#barmantext {
    font-family: 'Old Standard TT', serif;
    color: white;
    width: 500px;
}
#barmantext h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 15px;
}
#barmantext p {
    font-size: 25px;
}

/*------------SEC4---------------*/
#sec4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1680px;
    background-color: var(--fond2);
    
}
#img_sec_4 {
    width: 1200px;
    /*border: solid red 2px;*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 600px;
    justify-items: center;
}

#sec2 h2,
#sec3 h2,
#sec4 h2,
#sec5 h2 {
    font-size: 55px;
    color: var(--noir);
    font-family: var(--police1);
    margin: 20px 0 20px;
}
#sec3 h2 {
    color: white;
}


/*--------------FICHE COCKTAIL----------------*/
.fiche {
    position: relative;
    width: 300px;
    height: 550px;
    border: 1px solid var(--noir);
    box-shadow: 2px 2px 20px var(--ombre);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    background-color: var(--noir);
    color:white;
    font-family: var(--police1);
    
}
.fiche h3 {
    font-size: 30px;
}
.fiche_img {
    width: 200px;
    height: 300px;
    border: solid 2px white;
    background-size: cover;
    margin-bottom: 10px;
}
.price {
    position:absolute;
    top: 340px;
    right: 20px;
    border: solid white 2px;
    background-color: black;
    color: white;
    font-family: var(--police1);
    font-size: 40px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.price p {
    /*border: white 1px dotted;*/
    height: 42px;
}
.recette {
    margin: 20px 20px 0 20px;
    /*border: solid white 1px;*/
}
/*-------------MAP-----------------*/
#horaire {
    background-color: var(--noir);
    width: 1200px;
    height: 1015px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}
#horaire > div {
    position: relative;
    /*border: 2px blue solid;*/
    display: flex;
}
#horaire h2 {
    color:white;
    text-align: center;
}
#horaire2,
#horaire1 {
    /*border: 2px white solid;*/
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#horaire2 {
    border: 2px white solid;
    margin: 25px;
    padding-top: 45px;
}
#logo3 {
    width: 200px;
    height: 155px;
    background-image: url(../assets/logotransp.png);
    background-repeat: no-repeat;
    background-size: cover;
    /*border: solid yellow 2px;*/
}
#horaire h3 {
    color:white;
    font-family: 'Old Standard TT', serif;
    font-size: 30px;
    margin-top: 25px;
}
#horaire p {
    color:white;
    font-family: 'Old Standard TT', serif;
    font-size: 25px;
}
#presentation {
    font-size: 20px !important;
    width: 500px;
}
#sec5 {
    background-color: var(--fond2);
    width: 1680px;
    height: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#map {
    position: relative;
    z-index: 1;
    width: 500px;
    height: 500px;
    border: solid 3px var(--gris);
    margin-top: 25px;
    margin-bottom: 25px;
}


/*-------------FOOTER-----------------*/
footer {
    display:flex;
    justify-content: center;
    font-family: 'Old Standard TT', serif;
    background-image: url(../assets/section.png);
    background-size: cover;
    width: 1680px;
    height: 600px;
    padding-top: 150px;
}
#informations {
    width: 900px;
    height: 260px;
    display: flex;
    justify-content: space-between;
    /*border: dotted purple 2px;*/
}
footer li {
    list-style-type: none;
    color:white;
    font-size: 28px;
    line-height: 2em;
}
footer li a{
    list-style-type: none;
    color:white;
}
#logofoot {
    width: 400px;
    height: 260px;
    background-image: url(../assets/logotransp.png);
    background-size: cover;
}
/*----------------SIGNATURE-------------------*/
#signature {
    background-color: var(--noir);
    border: solid 3px var(--gris);
    width: 1680px;
}
#signature p{
    color: var(--colorsign);
    font-size: 24px;
    font-family: 'Old Standard TT', serif;
    margin: 20px 0 20px 50px;
}
#signature p a{
    color: var(--colorsign);
}

/*---------------------CONNEXTION.PHP---------------------------------------*/
#secconn {
    width: 1680px;
    margin-top: 100px;
    border: red solid 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--police1);
}

/*---------COLONNE INPUT---------*/
#formulaire {
    border: blue solid 2px;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 35px;
}

#form-box {
    display: flex;

}
.col-input {
    position: relative;
    border: red dotted 1px;
    width: 450px;
    height: 300px;
    
}

.col-input label {
    display: inline-block;
    border: purple solid 2px;
    width: 150px;
    text-align: start;
    margin-top: 30px;
    font-size: 30px;

}

.col-input input {
    margin: 0 0 0 30px;
    width: 250px;
    height: 30px;   
}




/*---------TABLEAU CONNEX---------*/
table {
    border-collapse: collapse;
    font-family: 'Times New Roman', Courier, monospace;
    font-size: 20px;
    background-color: white;
}

tr,
th,
td {
    padding: 3px;
    border: black solid 1px;
}

tr:nth-child(odd) {
    background: linear-gradient(0deg, rgba(223,223,223,1) 0%, rgba(205,205,205,1) 100%);
}

tr:first-child {
    background: linear-gradient(0deg, rgba(194,194,194,1) 0%, rgb(170, 170, 170) 100%);
}





/*---------------IDEES
faire cookies
espace avec nom pour inscription client et commentaire
mise en forme horraire
nouveau header pour admin
page inscription
faire une newsletter
commentaire en POO




*/









